	
	.form-bg {
		width: 370px;
		height: 320px;
		-moz-border-radius:9px;
		-webkit-border-radius:9px;
		border-radius:9px;
		margin: 150px auto 0;
		background: url(../images/form-bg.png) top left;
		padding: 1em; 
		}
	
	.form-bg form {
		width: 360px;
		height: 300px;
		background: #fff url(../images/bg_form.jpg) repeat-x top left;		
		-moz-border-radius:4px;
		-webkit-border-radius:4px;
		border-radius:4px;
		-moz-box-shadow:0px 1px 3px 2px rgba(0,0,0,0.1);
		-webkit-box-shadow:0px 1px 3px 2px rgba(0,0,0,0.1);
		box-shadow:0px 1px 3px 2px rgba(0,0,0,0.1);
	}
    
    .thought {
        
         width: 1175px;
        min-height: 300px;
        padding : 1em;
        background: #fff url(../images/bg_form.jpg) repeat-x top left;        
        -moz-border-radius:4px;
        -webkit-border-radius:4px;
        border-radius:4px;
        -moz-box-shadow:0px 1px 3px 2px rgba(0,0,0,0.1);
        -webkit-box-shadow:0px 1px 3px 2px rgba(0,0,0,0.1);
        box-shadow:0px 1px 3px 2px rgba(0,0,0,0.1);
        
    }
	
	.form-bg form h2 {
		font-size: 14px;
		font-weight: bold;
		color: #555555;
		font-family:"HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
		text-shadow: 0 1px 0 #fff;
		filter: dropshadow(color=#fff, offx=0, offy=1);
		line-height: 45px;
		margin-bottom: 24px;
		margin-left:25px;
	}
	
	input[type="text"], input[type="password"]{
		box-shadow: 0px 0px 0px 4px #f2f5f7;
		width: 100%;
		height: 33px;

		padding: 0 10px 0 10px;
		margin: 0;
		color: #aeaeae;
		border: 1px solid #bec2c4;
	}
	
	input[type="text"]:focus, input[type="password"]:focus{
		box-shadow: 0px 0px 0px 4px #e0f1fc;
		border:1px solid #7dc6dd;
	}
	
	
	button {
		background:url(../images/login.png) no-repeat;
		width:82px;
		height:32px;
		border:0px;
		float: right;
		margin-right: 24px;
	}
	
	button:hover {
		background:url(../images/login_hover.png) no-repeat;
		width:82px;
		height:32px;
		border:0px;
	}
	
	button:active {
		background:url(../images/login_active.png) no-repeat;
		width:82px;
		height:32px;
		border:0px;
	}	
	
	
	label {
		display: inline;
		margin-left: 24px;
		vertical-align: middle;
	}
	
	label span {
		color: 555555;
		font-size: 12px;
	}
	
	p.forgot {
		text-align: center;
		margin-top: 10px;
		margin-left:-55px;
		color: #fff;
		font-size: 12px;
		font-weight: bold;
		text-shadow: 0 1px 0 rgba(0,0,0,0.3);
	}
.form-bg a
{
    text-decoration: none;
}
.menu {
        
        -moz-border-radius:9px;
        -webkit-border-radius:9px;
        border-radius:9px;
        margin: 150px auto 0;
        background: url(../images/form-bg.png) top left;
        padding: 8px 0 0 8px;
        width:1200px;
        height:50px;
        margin-top:10px;
        

        }

.menu ul {
   
    list-style: none;
    height:50px;
}
.menu ul li{
    float: left;
    height:50px;
}
.menu ul li a{
    display: block;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    width:200px;
    font-size: 20px;
    color: #fff;
}
.menu ul li a:hover{
    font-size:21px;
    background-color: gray;
    border-radius:4px;
        -moz-box-shadow:0px 1px 3px 2px rgba(0,0,0,0.1);
        -webkit-box-shadow:0px 1px 3px 2px rgba(0,0,0,0.1);
        box-shadow:0px 1px 3px 2px rgba(0,0,0,0.1);
}


.selected{
    font-size:21px;
    background-color: gray;
    border-radius:4px;
        -moz-box-shadow:0px 1px 3px 2px rgba(0,0,0,0.1);
        -webkit-box-shadow:0px 1px 3px 2px rgba(0,0,0,0.1);
        box-shadow:0px 1px 3px 2px rgba(0,0,0,0.1);
}

 .img {
        
         width: 150px;
        height: 150px;
        padding : 0.5em;
        margin: 1em;
        background: #fff url(../images/bg.jpg) repeat-x top left;        
        -moz-border-radius:4px;
        -webkit-border-radius:4px;
        border-radius:4px;
        -moz-box-shadow:0px 1px 3px 2px rgba(0,0,0,0.1);
        -webkit-box-shadow:0px 1px 3px 2px rgba(0,0,0,0.1);
        box-shadow:0px 1px 3px 2px rgba(0,0,0,0.1);
        float: left;
        position: relative;
    
    
    }
    
      #addNew  {
        width: 600px;
        height: 360px;
        background: #fff url(../images/bg_form.jpg) repeat-x top left;        
        -moz-border-radius:4px;
        -webkit-border-radius:4px;
        border-radius:4px;
        -moz-box-shadow:0px 1px 3px 2px rgba(0,0,0,0.1);
        -webkit-box-shadow:0px 1px 3px 2px rgba(0,0,0,0.1);
        box-shadow:0px 1px 3px 2px rgba(0,0,0,0.1);
        
    }  
    #addNew table{
        width: 90%;
      //  border:dotted;
        margin: auto;
        
    }
    #addNew table td{
      //  margin: 1em;
        padding: 0.5em;
        
    }
    
    .label{
        font-size: 17px;
        color: green;
        text-shadow: lime;
        width: 25%;
    }
    
    select{
        box-shadow: 0px 0px 0px 4px #f2f5f7;
        width: 100%;
        height: 33px;

        //padding: 0 10px 0 10px;
        margin: 0;
        color: #aeaeae;
        border: 1px solid #bec2c4;
        font-size: 16px;
    }
    
